<table>
  <tr>
    <th>{{STATIC_PRIORITY_INTERSECTION_TEXT}}</th>
    <th *ngFor="let priorities of priorities|async">
      {{priorities.title}}
    </th>
    <input type="text" (keyup.enter)="addPriority($event)" [placeholder]="STATIC_ADD_PRIORITY_TEXT"/>
  </tr>
  <tr *ngFor="let rowPriority of priorities|async">
    <th>
      {{rowPriority.title}}
    </th>
    <td *ngFor="let columnPriority of priorities|async">
      <ng-container
        *ngIf="rowPriority === columnPriority; then samePriorityTemplate else differentPriorityTemplate"></ng-container>
      <ng-template #samePriorityTemplate>
        1
      </ng-template>
      <ng-template #differentPriorityTemplate>
        <span *ngIf="!checkEditingMode(rowPriority, columnPriority); else editingMode"
              (dblclick)="enterPriorityEditingMode(rowPriority, columnPriority)">
          {{rowPriority|priorityValue:columnPriority}}
        </span>
        <ng-template #editingMode>
          <input type="text"
                 #currentEditingInput
                 (keyup.enter)="editRelativePriorityValue(currentEditingInput.value)"
                 (blur)="editRelativePriorityValue(currentEditingInput.value)"
                 [value]="transformEditValue()" autofocus>
        </ng-template>
      </ng-template>
    </td>
  </tr>
  <tr>
    <td>
      <input type="text" (keyup.enter)="addPriority($event)" [placeholder]="STATIC_ADD_PRIORITY_TEXT"/>
    </td>
  </tr>
</table>
