<table class="collapsed">
  <tr>
    <th class="ba b--light-purple pa2">Критерій</th>
    <th *ngFor="let priorities of priorities|async" class="ba b--light-purple pa2">
      {{priorities.title}}
    </th>
    <td class="ba b--light-purple bg-light-purple pa2">
      <input type="text"
             (keyup.enter)="addPriority($event)"
             [placeholder]="STATIC_ADD_PRIORITY_TEXT"
             class="bn bg-light-purple white"
      />
    </td>
  </tr>
  <tr *ngFor="let rowPriority of priorities|async">
    <th class="ba b--light-purple pa2">
      {{rowPriority.title}}
    </th>
    <td *ngFor="let columnPriority of priorities|async" class="ba b--light-purple pa2">
      <ng-container
        *ngIf="rowPriority === columnPriority; then samePriorityTemplate else differentPriorityTemplate"></ng-container>
      <ng-template #samePriorityTemplate>
        1
      </ng-template>
      <ng-template #differentPriorityTemplate>
        <span *ngIf="!checkEditingMode(rowPriority, columnPriority); else editingMode"
              (dblclick)="enterPriorityEditingMode(rowPriority, columnPriority)">
          {{rowPriority|priorityValue:columnPriority}}
        </span>
        <ng-template #editingMode>
          <input type="text"
                 #currentEditingInput
                 (keyup.enter)="editRelativePriorityValue(currentEditingInput.value)"
                 (blur)="editRelativePriorityValue(currentEditingInput.value)"
                 [value]="transformEditValue()"
                 autofocus
                 class="bn"
          >
        </ng-template>
      </ng-template>
    </td>
  </tr>
  <tr>
    <td class="ba b--light-purple bg-light-purple pa2">
      <input type="text"
             (keyup.enter)="addPriority($event)"
             [placeholder]="STATIC_ADD_PRIORITY_TEXT"
             class="bn bg-light-purple white"
      />
    </td>
  </tr>
</table>
