<mat-tab-group>
  <mat-tab label="Матриця критеріїв">
    <ng-template matTabContent>
      <app-criteria-table></app-criteria-table>
    </ng-template>
  </mat-tab>

  <mat-tab [label]="criteria.title" *ngFor="let criteria of priorities|async">
    <ng-template matTabContent>
      <app-item-comparison-table [criteria]="criteria"></app-item-comparison-table>
    </ng-template>
  </mat-tab>

  <mat-tab label="Результати аналізу">
    <ng-template matTabContent>
      <app-results></app-results>
    </ng-template>
  </mat-tab>
</mat-tab-group>
