<table>
  <tr>
    <th>{{priority.title}}</th>
    <th *ngFor="let comparedItem of comparedItems|async">
      {{comparedItem.title}}
    </th>
    <input type="text" (keyup.enter)="addComparedItem($event)" [placeholder]="STATIC_ADD_COLUMN_TEXT"/>
  </tr>
  <tr *ngFor="let rowComparedItem of comparedItems|async">
    <th>
      {{rowComparedItem.title}}
    </th>
    <td *ngFor="let columnComparedItem of comparedItems|async">
      <ng-container
        *ngIf="rowComparedItem === columnComparedItem; then samePriorityTemplate else differentPriorityTemplate"></ng-container>
      <ng-template #samePriorityTemplate>
        1
      </ng-template>
      <ng-template #differentPriorityTemplate>
        <span *ngIf="!checkEditingMode(rowComparedItem, columnComparedItem); else editingMode"
              (dblclick)="enterComparedItemEditingMode(rowComparedItem, columnComparedItem)">
          {{rowComparedItem|comparedItemValue:columnComparedItem:priority}}
        </span>
        <ng-template #editingMode>
          <input type="text"
                 #currentEditingInput
                 (keyup.enter)="editRelativeComparedItemValue(currentEditingInput.value)"
                 (blur)="editRelativeComparedItemValue(currentEditingInput.value)"
                 [value]="transformEditValue()">
        </ng-template>
      </ng-template>
    </td>
  </tr>
  <tr>
    <td>
      <input type="text" (keyup.enter)="addComparedItem($event)" [placeholder]="STATIC_ADD_COLUMN_TEXT"/>
    </td>
  </tr>
</table>
