<table class="collapsed">
  <tr>
    <th class="ba b--light-purple pa2">{{priority.title}}</th>
    <th *ngFor="let comparedItem of comparedItems|async" class="ba b--light-purple pa2">
      {{comparedItem.title}}
    </th>
    <td class="ba b--light-purple bg-light-purple pa2">
      <input type="text"
             (keyup.enter)="addComparedItem($event)"
             [placeholder]="STATIC_ADD_COLUMN_TEXT"
             class="bn bg-light-purple white"
      />
    </td>
  </tr>
  <tr *ngFor="let rowComparedItem of comparedItems|async">
    <th class="ba b--light-purple pa2">
      {{rowComparedItem.title}}
    </th>
    <td *ngFor="let columnComparedItem of comparedItems|async" class="ba b--light-purple pa2">
      <ng-container
        *ngIf="rowComparedItem === columnComparedItem; then samePriorityTemplate else differentPriorityTemplate"></ng-container>
      <ng-template #samePriorityTemplate>
        1
      </ng-template>
      <ng-template #differentPriorityTemplate>
        <span *ngIf="!checkEditingMode(rowComparedItem, columnComparedItem); else editingMode"
              (dblclick)="enterComparedItemEditingMode(rowComparedItem, columnComparedItem)">
          {{rowComparedItem|comparedItemValue:columnComparedItem:priority}}
        </span>
        <ng-template #editingMode>
          <input type="text"
                 #currentEditingInput
                 (keyup.enter)="editRelativeComparedItemValue(currentEditingInput.value)"
                 (blur)="editRelativeComparedItemValue(currentEditingInput.value)"
                 [value]="transformEditValue()"
                 class="bn"
          >
        </ng-template>
      </ng-template>
    </td>
  </tr>
  <tr>
    <td class="ba b--light-purple bg-light-purple pa2">
      <input type="text"
             (keyup.enter)="addComparedItem($event)"
             [placeholder]="STATIC_ADD_COLUMN_TEXT"
             class="bn bg-light-purple white"
      />
    </td>
  </tr>
</table>
